/****** Animation ******/

.animated {
	-webkit-animation-duration: 0.5s;
	   -moz-animation-duration: 0.5s;
	     -o-animation-duration: 0.5s;
	        animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated-home {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.animated.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

.animated-home.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

body {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 14px;
	color: #1d1d1d;
	letter-spacing: 1px;
}

h1 {
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 22px;
	color: #fd6a48;
	text-transform: uppercase;
}

h2 {
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 18px;
	color: #fd6a48;
	margin-bottom: 4px;
	text-transform: uppercase;
}

p {
	margin-top: 0;
}

a {
	text-decoration: none;
	color: #fd6a48;
	font-size: 16px;
}

a:hover {
	color: #000000;
}

div.everything {
	background-image: url('../images/divbg.png');
	z-index: 999;
	background-repeat: repeat;
}

div.naveverything {
	height: 100%;
	background-image: url('../images/divbg.png');
	z-index: 999;
	background-repeat: repeat;
}

div.works {
	width: 620px;
	height: 96px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -48px 0 0 -310px;
}

#works img {
	-webkit-transition: margin 0.1s ease-out; 
	-moz-transition: margin 0.1s ease-out; 
	-o-transition: margin 0.1s ease-out;
}

#works img:hover {
	margin-top: -4px;
}

#head {
	width: 780px;
	padding-left: 10px;
	padding-right: 10px;
	left: 50%;
	margin-left: -390px;
	height: 120px;
	background-image: url('../images/divbg.png');
	position: fixed;
	z-index: 1;
}

#cloud {
	width: 402px;
	height: 272px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -201px;
	margin-top: -136px;
}

.ios {
	float: left;
	margin-bottom: 10px;
	display: inline;
	height: 560px;
	width: 780px;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../images/divbg.png');
}

.ios p,
.ios h2 {
	padding-left: 280px;
}

.ios img {
	float: left;
}

.print {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline;
	height: 740px;
	width: 780px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.web {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline;
	width: 780px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.about {
	float: left;
	margin-top: 120px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline;
	height: 600px;
	width: 760px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.workimages {
	position:relative;
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	z-index: 0;
}

.workcontainer {
	padding-top: 140px;
}

.pic-shadow {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	float:left;
}

.pic-lower {
	margin-top: 20px;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.web-images {
	vertical-align:top;
	float:left;
	margin-right:10px;
}

.web-images-left-last {
	vertical-align:top;
	float:left;
}

.web-images-right {
	vertical-align:top;
	float:right;
}

.sa1 {
	margin-bottom: 10px;
}

.print p,
.print h2 {
	padding-left: 520px;
}

#monicakogler {
	float: left;
	margin-top: 54px;
	z-index: 999;
}

#nav_container {
	list-style-type: none;
	float: right;
	height: 50px;
	margin-top: 54px;
	z-index:1;
	font-size: 18px;
}

#nav_container li {
	float: right;
	padding: 10px;
	display: inline;
}

#works li {
	list-style-type: none;
	float: left;
	padding-right: 100px;
}

ul#works {
	height: 96px;
	padding-left: 0;
}

#left, #right {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 15px;
	background-image: url('../images/bodybg.png');
	z-index: 999;
}

#left {
	left: 0;
}

#right {
	right: 0;
}

#top, #bottom {
	position: fixed;
	left: 0;
	right: 0;
	height: 15px;
	background-image: url('../images/bodybg.png');
	z-index: 999;
}

#top {
	top: 0;
}

#bottom {
	bottom: 0;
}

#bottom {

}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}