html {
  font-size: 12px;
}

body {
  background-image: linear-gradient(18deg, rgba(246,240,232,0.50) 0%, rgba(255,255,255,0.50) 100%);
  color: #222;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 2.5rem 0;
  margin: 0;
}

h1 {
  font-size: 8rem;
  line-height: 8rem;
}

h2 {
  font-size: 3rem;
}

h6 {
  font-size: 1.1675rem;
  line-height: 2rem;
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
}

p {
  line-height: 2.5rem;
}

a {
  color: rgba(#222, 0.7);
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:focus,
  &:hover {
    color: rgba(#222, 0.6);
  }
}

a.btn {
  color: #fff;
  background: #333;
  height: 6rem;
  width: 100%;
  text-align: center;
  display: block;
  line-height: 6rem;
  margin-bottom: 2.5rem;
  outline: 1px solid transparent;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

a.btn:hover {
  -webkit-transform: rotateY(20deg);
  -moz-transform: rotateY(20deg);
  -ms-transform: rotateY(20deg);
  transform: rotateY(20deg);
  background: #222;
}

a.btn:after {
  width: 20%;
  height: 100%;
  left: -20%;
  top: 0;
  background: #111;
  -webkit-transform-origin: 100% 0%;
  -webkit-transform: rotateY(-90deg);
  -moz-transform-origin: 100% 0%;
  -moz-transform: rotateY(-90deg);
  -ms-transform-origin: 100% 0%;
  -ms-transform: rotateY(-90deg);
  transform-origin: 100% 0%;
  transform: rotateY(-90deg);
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 2.5rem;
  -webkit-margin-start: 1rem;
  -webkit-margin-end: 0;
  -webkit-padding-start: 1rem;
  line-height: 2.5rem;
}

table {
  margin-bottom: 2.5rem;
}

hr {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  border-style: solid;
  border-width: 4px;
}

.content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


// HOME

.intro-container, .intro-container img, .what-i-do-container {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto 5rem auto;
}

.intro-container, .what-i-do-container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.what-i-do-container p {
  padding-top: 0;
}

.what-i-do-container a.btn {
  margin-top: 1rem;
}


.role {
  padding-left: 2.5rem;
}

@media only screen and (max-width: 492px) {
    td.role, td.year {
      display: inline-block;
      padding-left: 0;
      width: 100%;
    }
    td.year {
      padding-top: 1rem;
    }
}
