<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag 'site' %>
    <%= javascript_include_tag 'site' %>
    <link href='https://fonts.googleapis.com/css?family=Overpass:600,700' rel='stylesheet'>
    <script>
      /* Set the width of the side navigation to 250px */
      function openNav() {
        document.getElementById('mySidenav').style.width = '30rem';
      }
      /* Set the width of the side navigation to 0 */
      function closeNav() {
        document.getElementById('mySidenav').style.width = '0';
      }
    </script>
  </head>
  <body>
    <a href='/' id='logo'><img src='images/logo@2x.png' width='48' height='48'/></a>
    <span onclick='openNav()' id='menu'><img src='images/menu.svg' width='48' height='48' /></span>
    <div id='mySidenav' class='sidenav'>
      <a href='javascript:void(0)' class='closebtn' onclick='closeNav()'><img src='images/close.svg' width='48' height='48' /></a>
      <a href='/'>Home</a>
      <h6>For clients</h6>
      <a href='#'>Twist Bioscience</a>
      <a href='#'>BAGGU</a>
      <a href='#'>BTR Energy</a>
      <a href='#'>Transcriptic</a>
      <h6>For fun</h6>
      <a href='#'>fun 1</a>
      <a href='#'>fun 2</a>
      <a href='#'>fun 3</a>
      <a href='#'>fun 4</a>
    </div>
    <%= yield %>
    <div id='footer'></div>
  </body>
</html>
