---
title: Me + BTR Energy
---

<div class='content'>
  <div class='client-work-intro'>
    <h1 class='text-center'>BTR Energy</h1>
    <h6 class='text-center'>2017&nbsp;&nbsp;/&nbsp;&nbsp;Washington D.C.</h6>
    <ul>
      <li>BTR Energy partners with companies to increase renewable energy production and accelerate electric vehicle adoption</li>
      <li>Marketing site design and InVision prototypes</li>
      <li>Hired and manage dev build/QA for public-facing site with CMS</li>
    </ul>
  </div>
</div>
<hr>
<div class='content'>
  <div class='client-work text-center'>
      <h2>Marketing Site</h2>
      <h6>Visual design, UI/UX, Project management</h6>
      <img class='web-work' src='images/btr_landing.jpg'>
      <img class='web-work' src='images/btr_biogas.jpg'>
      <img class='web-work' src='images/btr_rfs.jpg'>
      <img class='web-work' src='images/btr_contact.jpg'>
  </div>
</div>
<hr>
<div class='content'>
  <div class='work-end text-center'>
    <h2>Keep browsing</h2>
    <a class='btn' href='/transcriptic'>Next project</a>
  </div>
</div>
