---
title: Me + BAGGU
---

<div class='content'>
  <div class='client-work-intro'>
    <h1 class='text-center'>BAGGU</h1>
    <h6 class='text-center'>2016 - 2017&nbsp;&nbsp;/&nbsp;&nbsp;SF, Brooklyn</h6>
    <ul>
      <li>Website redesign (Shopify) and usability optimizations, development of new curated product collection, InVision prototypes</li>
      <li>Work with devs on implementation, QA, launch</li>
      <li>10% boost in stuff (tablet/mobile)</li>
      <li>10% boost in stuff (laptop/desktop)</li>
    </ul>
  </div>
</div>
<hr>
<div class='content'>
  <div class='client-work text-center'>
      <h2>E-Commerce Site</h2>
      <h6>Visual design, UI/UX, Project management</h6>
      <img class='web-work' src='images/baggu_landing.jpg'>
      <img class='web-work' src='images/baggu_web-collection.jpg'>
      <img class='web-work' src='images/baggu_web-product.jpg'>
      <img class='web-work' src='images/baggu_web-cart-open.jpg'>
      <img class='mobile-work' src='images/baggu_mobile-product.jpg'>
      <img class='web-work' src='images/baggu_web-lifestyle.jpg'>
      <img class='mobile-work' src='images/baggu_mobile-lifestyle.jpg'>
  </div>
</div>
<hr>
<div class='content'>
  <div class='work-end text-center'>
    <h2>Keep browsing</h2>
    <a class='btn' href='/btr-energy'>Next project</a>
  </div>
</div>
