---
title: Monica Kogler
---

<div class='intro-container'>
  <div class='intro'>
    <img src='images/waters@2x.jpg' />
    <h1>Hi Hi ~</h1>
    <p>I do product design and art in LA. I like making software, websites, and all kinds of media with people all over. Here are some things I’ve worked on over the past few years:</p>
    <h6>For clients</h6>
    <a class='btn' href="#">Twist Bioscience</a>
    <a class='btn' href="#">BAGGU</a>
    <a class='btn' href="#">BTR Energy</a>
    <a class='btn' href="#">Transcriptic</a>
    <h6>For fun</h6>
    <a class='btn' href="#">Fun 1</a>
    <a class='btn' href="#">Fun 2</a>
    <a class='btn' href="#">Fun 3</a>
    <a class='btn' href="#">Fun 4</a>
  </div>
</div>
