---
title: It's me, Monica
---

<div class='content'>
  <div class='intro'>
    <img src='images/waters@2x.jpg' />
    <h1>Hi hi ~</h1>
    <p>I’m Monica. I’m a designer and artist in LA. I like making software, websites, and media with people all over. Here are some things I’ve worked on over the past few years:</p>
    <h6>For clients</h6>
    <a class='btn' href='twist'>Twist</a>
    <a class='btn' href='/baggu'>BAGGU</a>
    <a class='btn' href='/btr-energy'>BTR Energy</a>
    <a class='btn' href='/transcriptic'>Transcriptic</a>
    <h6>For fun</h6>
    <a class='btn' href="#">Fun 1</a>
    <a class='btn' href="#">Fun 2</a>
    <a class='btn' href="#">Fun 3</a>
    <a class='btn' href="#">Fun 4</a>
  </div>
</div>
<hr>
<div class='content'>
  <div class='what-i-do'>
      <h1>More about me</h1>
      <h6>What I do</h6>
      <ul>
        <li>UI/UX, interaction, visual, graphic design</li>
        <li>App/website research, prototype, analysis, iteration</li>
        <li>Usability, conversion, aesthetic improvements</li>
      </ul>
      <h6>my friends can help too</h6>
      <p>Need design + dev? A lot of my friends make software too, so I can pull together a solid product team quickly. We can do entire projects from design to dev and launch.</p>
      <h6>Timeline</h6>
      <table class='timeline'>
        <tr>
          <td class='year'>2015 - Now</td>
          <td class='role'>Product Design Consulting</td>
        </tr>
        <tr>
          <td class='year'>2013 - 2015</td>
          <td class='role'>Lead Design @ Yerdle</td>
        </tr>
        <tr>
          <td class='year'>2012 - 2013</td>
          <td class='role'>Web Design Consulting</td>
        </tr>
        <tr>
          <td class='year'>2008 - 2012</td>
          <td class='role'>Film &amp; Electronic Arts @ Bard College</td>
        </tr>
        <tr>
          <td class='year'>2003 - 2007</td>
            <td class='role'>Video &amp; design in high school</td>
        </tr>
        <tr>
          <td class='year'>1989</td>
          <td class='role'>Born &amp; raised in San Diego &#9811;</td>
        </tr>
    </table>
    <h6>Let's talk</h6>
    <p>Projects? Ideas? Jokes? Links?</p>
    <a class='btn' href="#">Say hi</a>
  </div>
</div>
