---
title: It's me, Monica
---

<div class='intro-container'>
  <img src='images/waters@2x.jpg' />
  <h1>Hi hi ~</h1>
  <p>Welcome. I'm Monica. I like making software and websites and all kinds of things with people all over. Here are some things that I’ve worked on over the past few years:</p>
  <h6>For clients</h6>
  <a class='btn' href="#">Twist Bioscience</a>
  <a class='btn' href="#">BAGGU</a>
  <a class='btn' href="#">BTR Energy</a>
  <a class='btn' href="#">Transcriptic</a>
  <h6>For fun</h6>
  <a class='btn' href="#">Fun 1</a>
  <a class='btn' href="#">Fun 2</a>
  <a class='btn' href="#">Fun 3</a>
  <a class='btn' href="#">Fun 4</a>
</div>
<hr>
<div class='what-i-do-container'>
    <h1>What I do</h1>
    <h6>I'm a designer/artist in la</h6>
    <ul>
      <li>UI/UX, interaction, visual, graphic design</li>
      <li>App/website research, prototype, analysis, iteration</li>
      <li>Improvements in aesthetics, usability, conversion</li>
    </ul>
    <h6>my friends can help too</h6>
    <p>Need design + development? A lot of my friends make software too, so I can pull together a solid product team quickly and easily. We can do entire projects from design to dev and launch.</p>
    <h6>how i got here</h6>
    <table>
      <tr>
        <td class='year'>2015 - Now</td>
        <td class='role'>Product Design Consulting</td>
      </tr>
      <tr>
        <td class='year'>2013 - 2015</td>
        <td class='role'>Lead Design @ Yerdle</td>
      </tr>
      <tr>
        <td class='year'>2012 - 2013</td>
        <td class='role'>Web Design Consulting</td>
      </tr>
      <tr>
        <td class='year'>2008 - 2012</td>
        <td class='role'>Film &amp; Electronic Arts @ Bard College</td>
      </tr>
      <tr>
        <td class='year'>2003 - 2007</td>
          <td class='role'>Video &amp; design in high school</td>
      </tr>
      <tr>
        <td class='year'>1989</td>
        <td class='role'>Born &amp; raised in San Diego &#9811;</td>
      </tr>
  </table>
  <h6>let's talk</h6>
  <p>Project ideas? Funny jokes? Cool links?</p>
  <a class='btn' href="#">Say hi</a>
</div>
