---
title: Slow Fade
---

<div class='content'>
  <div class='video-work text-center'>
    <h1 class='text-center'>Slow Fade</h1>
    <iframe class='hidden-xs' width='560' height='315' src='https://www.youtube.com/embed/ttdNor-M0XQ' frameborder='0' allowfullscreen></iframe>
    <iframe class='visible-xs' width='300' height='168.75' src='https://www.youtube.com/embed/ttdNor-M0XQ' frameborder='0' allowfullscreen></iframe>
  </div>
</div>
<hr>
<div class='content'>
  <div class='work-end text-center'>
    <h2>Keep browsing</h2>
    <a class='btn' href='/bye-baby'>Next project</a>
  </div>
</div>
