---
title: Me + Transcriptic
---

<div class='content'>
  <div class='client-work-intro'>
    <h1 class='text-center'>Transcriptic</h1>
    <h6 class='text-center'>2015 - 2016&nbsp;&nbsp;/&nbsp;&nbsp;Silicon Valley</h6>
    <ul>
      <li>Transcriptic = robotic cloud lab for the life sciences</li>
      <li>Web app lets scientists run experiments, process samples, generate data remotely – in automated cell and molecular biology labs</li>
      <li>Web app, user testing, marketing site, print collateral</li>
    </ul>
  </div>
</div>
<hr>
<div class='content'>
  <div class='client-work text-center'>
      <h2>Marketing Site</h2>
      <h6>Visual design, UI/UX</h6>
      <img class='web-work' src='images/transcriptic_accelerate.jpg'>
      <img class='web-work' src='images/transcriptic_drug-disco.jpg'>
  </div>
</div>
<hr>
<div class='content'>
  <div class='client-work text-center'>
      <h2>Web App</h2>
      <h6>Visual design, UI/UX</h6>
      <img class='web-work' src='images/transcriptic_runs.jpg'>
      <img class='web-work' src='images/transcriptic_launch.jpg'>
      <img class='web-work' src='images/transcriptic_sequencing.jpg'>
      <img class='web-work' src='images/transcriptic_form.jpg'>
      <img class='web-work' src='images/transcriptic_runs.jpg'>
      <img class='web-work' src='images/transcriptic_inventory.jpg'>
      <img class='web-work' src='images/transcriptic_containers.jpg'>
      <img class='web-work' src='images/transcriptic_materials-agreement.jpg'>
  </div>
</div>
<hr>
<div class='content'>
  <div class='client-work text-center'>
      <h2>Print Collateral</h2>
      <h6>Visual &amp; Graphic Design</h6>
      <img class='web-work half' src='images/transcriptic_booth-front.jpg'>
      <img class='web-work half' src='images/transcriptic_booth-back.jpg'>
      <img class='web-work half' src='images/transcriptic_about-front.jpg'>
      <img class='web-work half' src='images/transcriptic_about-back.jpg'>
  </div>
</div>
<hr>
<div class='content'>
  <div class='work-end text-center'>
    <h2>Keep browsing</h2>
    <a class='btn' href='/baggu'>Next project</a>
  </div>
</div>
