---
title: Me + Twist
---

<div class='content'>
  <div class='client-work-intro'>
    <h1 class='text-center'>Twist</h1>
    <h6 class='text-center'>2016 - 2017&nbsp;&nbsp;/&nbsp;&nbsp;San Francisco, Tel Aviv</h6>
    <ul>
      <li>App lets biologists order thousands of custom DNA sequences</li>
      <li>UI component library and logos for suite of web app products</li>
      <li>Graphics and print collateral for higher level Twist brand refresh</li>
      <li>Marketing site redesign and InVision prototypes</li>
    </ul>
  </div>
</div>
<hr>
<div class='content'>
  <div class='client-work text-center'>
      <h2>Web App</h2>
      <h6>Visual design, UI/UX</h6>
      <img class='web-work' src='images/twist_genes-overview.jpg'>
      <img class='web-work' src='images/twist_genes-upload.jpg'>
      <img class='web-work' src='images/twist_genes-dragging.jpg'>
      <img class='web-work' src='images/twist_genes-uploading.jpg'>
      <img class='web-work' src='images/twist_pools-details.jpg'>
      <img class='web-work' src='images/twist_genes-pricing.jpg'>
  </div>
</div>
<hr>
<div class='content'>
  <div class='client-work text-center'>
      <h2>Marketing Site</h2>
      <h6>Visual design, UI/UX</h6>
      <img class='web-work' src='images/twist_genes-screenshot.jpg'>
      <img class='web-work' src='images/twist_pools-screenshot.jpg'>
  </div>
</div>
<hr>
<div class='content'>
  <div class='client-work text-center'>
      <h2>Product Logos</h2>
      <h6>Visual design, branding</h6>
      <img class='asset-work twist-product-logo' src='images/twist_genes-logo.png'>
      <img class='asset-work twist-product-logo' src='images/twist_pools-logo.png'>
      <img class='asset-work twist-product-logo' src='images/twist_libraries-logo.png'>
      <img class='asset-work twist-product-logo' src='images/twist_data-storage-logo.png'>
  </div>
</div>
<hr>
<div class='content'>
  <div class='client-work text-center'>
      <h2>Brand Imagery</h2>
      <h6>Visual design, branding</h6>
      <img class='asset-work twist-ss' src='images/twist_ss-purps.png'>
      <img class='asset-work twist-ss' src='images/twist_ss-teal.png'>
      <img class='asset-work twist-ss' src='images/twist_ss-orange.png'>
      <img class='asset-work twist-fan' src='images/twist_fan-green.png'>
      <img class='asset-work twist-fan' src='images/twist_fan-teal.png'>
  </div>
</div>
<hr>
<div class='content'>
  <div class='client-work text-center'>
      <h2>Print Collateral</h2>
      <h6>Visual &amp; Graphic Design</h6>
      <img class='web-work half' src='images/twist_genes-ds-front.jpg'>
      <img class='web-work half' src='images/twist_genes-ds-front.jpg'>
  </div>
</div>
<hr>
<div class='content'>
  <div class='work-end text-center'>
    <h2>Keep browsing</h2>
    <a class='btn' href='/baggu'>Next project</a>
  </div>
</div>
